@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#widget {
	/* define using custom variables loaded from JS with fallback values */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/var */

	--font-weight: var(--custom-font-weight, normal);
	--font-size: var(--custom-font-size, 14px);
	--line-clamp: var(--custom-line-clamp, 4);
	--max-width: min(var(--custom-max-width, 500px), 100%);
	--badge-display: var(--custom-badge-display, inline);
	--pronoun-display: var(--custom-pronoun-display, inline);
	--pronoun-transform: var(--custom-pronoun-transform, lowercase);
	--custom-user-color: var(--custom-user-color, white);
	--custom-user-bg-color: var(--custom-user-bg-color, black);
	--message-color: var(--custom-message-color, black);
	--message-bg-color: var(--custom-message-bg-color, white);
	--edge-offset: var(--custom-edge-offset, 100px);
	--badge-size: var(--custom-badge-size, 1.25);
	--multi-emote-size: var(--custom-multi-emote-size, 2);
	--single-emote-size: var(--custom-single-emote-size, 4);
	--username-font-weight: var(--custom-username-font-weight, bold);
	--username-font-size: var(--custom-username-font-size, 14px);

	font-family: var(--custom-font-name), Nunito, Helvetica, Arial, sans-serif;
	font-weight: var(--font-weight);
	font-size: var(--font-size);

	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;

	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	gap: 8px;

	/* default is the same values as #widget.vertical.to-top.left */
	flex-direction: column;
	justify-content: end;
	align-items: flex-start;
}

#widget.vertical.to-top {
	flex-direction: column;
	justify-content: end;
}
#widget.vertical.to-bottom {
	flex-direction: column-reverse;
	justify-content: start;
}
#widget.vertical.left {
	align-items: flex-start;
}
#widget.vertical.right {
	align-items: flex-end;
}

#widget.horizontal.to-left {
	flex-direction: row;
	justify-content: end;
}
#widget.horizontal.to-right {
	flex-direction: row-reverse;
	justify-content: start;
}
#widget.horizontal.top {
	align-items: flex-start;
}
#widget.horizontal.bottom {
	align-items: flex-end;
}

.message {
	--border-color: var(--dynamic-bg-color);
	--user-text-color: var(--dynamic-color);
	--border-width: 4px;
	--border-radius: 8px;

	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	max-width: var(--max-width);

	transform: translateZ(0) scale(1);
	overflow: hidden;

	animation-name: none;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
	--smooth: smooth-none;
}

.use-custom-user .message {
	--border-color: var(--custom-user-bg-color);
	--user-text-color: var(--custom-user-color);
}

.full-width .message {
	width: var(--max-width);
}

/* trick to use gpu rendering to prevent sub-pixel issues for diagonal */
.diagonal .message {
	will-change: transform;
}

.random .message,
.random-edge .message {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.random .message.enter,
.random-edge .message.enter {
	--max-y: calc(100% - var(--message-height));
	--max-x: calc(100% - var(--message-width));
	--random-full-y: max(0px, calc(var(--max-y) * var(--random-y)));
	--random-full-x: max(0px, calc(var(--max-x) * var(--random-x)));
	--random-offset-y: min(
		calc(var(--edge-offset) * var(--random-y)),
		var(--max-y)
	);
	--random-offset-x: min(
		calc(var(--edge-offset) * var(--random-x)),
		var(--max-x)
	);
	opacity: 1;
}

.random .message.enter {
	top: var(--random-full-y);
	left: var(--random-full-x);
}

.random-edge .message.enter {
	/* fallback to centering messages */
	top: calc((100% + var(--message-height)) / 2);
	left: calc((100% + var(--message-width)) / 2);
}

.random-edge .message.enter.random-left {
	left: var(--random-offset-x);
	right: initial;
	top: var(--random-full-y);
	bottom: initial;
}

.random-edge .message.enter.random-right {
	left: initial;
	right: var(--random-offset-x);
	top: var(--random-full-y);
	bottom: initial;
}

.random-edge .message.enter.random-top {
	left: var(--random-full-x);
	right: initial;
	top: var(--random-offset-y);
	bottom: initial;
}

.random-edge .message.enter.random-bottom {
	left: var(--random-full-x);
	right: initial;
	top: initial;
	bottom: var(--random-offset-y);
}

.smooth-entrance.horizontal .message,
.smooth-entrance.random .message,
.smooth-entrance.random-edge .message {
	--smooth: smooth-y, smooth-x;
}
.smooth-entrance.vertical .message {
	--smooth: smooth-y;
}

.animation-enter-none .message.enter {
	animation-name: none;
}

/* expand in */

.animation-enter-expand-in .message.enter {
	animation-name: overexpand-in;
}

/* fade in */

.animation-enter-fade-in .message.enter {
	animation-name: var(--smooth), fade-in;
}

.animation-enter-fade-in-left .message.enter {
	animation-name: var(--smooth), fade-in, move-from-left;
}

.animation-enter-fade-in-right .message.enter {
	animation-name: var(--smooth), fade-in, move-from-right;
}

.animation-enter-fade-in-up .message.enter {
	animation-name: var(--smooth), fade-in, move-from-bottom;
}

.animation-enter-fade-in-down .message.enter {
	animation-name: var(--smooth), fade-in, move-from-top;
}

/* slide in */

.animation-enter-slide-in-left .message.enter {
	animation-name: var(--smooth), move-from-left;
}

.animation-enter-slide-in-right .message.enter {
	animation-name: var(--smooth), move-from-right;
}

.animation-enter-slide-in-up .message.enter {
	animation-name: var(--smooth), move-from-bottom;
}

.animation-enter-slide-in-down .message.enter {
	animation-name: var(--smooth), move-from-top;
}

/* zoom in */

.animation-enter-zoom-in .message.enter {
	animation-name: var(--smooth), zoom-in;
}

.animation-enter-zoom-in-left .message.enter {
	animation-name: var(--smooth), zoom-from-left;
}

.animation-enter-zoom-in-right .message.enter {
	animation-name: var(--smooth), zoom-from-right;
}

.animation-enter-zoom-in-up .message.enter {
	animation-name: var(--smooth), zoom-from-bottom;
}

.animation-enter-zoom-in-down .message.enter {
	animation-name: var(--smooth), zoom-from-top;
}

.animation-exit-none .message.exit {
	animation-name: none;
	display: none;
}

/* fade out */

.animation-exit-fade-out .message.exit {
	animation-name: fade-out;
}

.animation-exit-fade-out-left .message.exit {
	animation-name: fade-out, move-to-left;
}

.animation-exit-fade-out-right .message.exit {
	animation-name: fade-out, move-to-right;
}

.animation-exit-fade-out-up .message.exit {
	animation-name: fade-out, move-to-top;
}

.animation-exit-fade-out-down .message.exit {
	animation-name: fade-out, move-to-bottom;
}

/* slide out */

.animation-exit-slide-out-left .message.exit {
	animation-name: move-to-left;
}

.animation-exit-slide-out-right .message.exit {
	animation-name: move-to-right;
}

.animation-exit-slide-out-up .message.exit {
	animation-name: move-to-top;
}

.animation-exit-slide-out-down .message.exit {
	animation-name: move-to-bottom;
}

/* zoom out */

.animation-exit-zoom-out .message.exit {
	animation-name: zoom-out;
}

.animation-exit-zoom-out-left .message.exit {
	animation-name: zoom-to-left;
}

.animation-exit-zoom-out-right .message.exit {
	animation-name: zoom-to-right;
}

.animation-exit-zoom-out-up .message.exit {
	animation-name: zoom-to-top;
}

.animation-exit-zoom-out-down .message.exit {
	animation-name: zoom-to-bottom;
}

.content-border {
	overflow: hidden;
	border: var(--border-width) solid var(--border-color);
	border-top: 0;
	position: relative;
}

.rounded .content-border {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.diagonal .content-border {
	--diagonal-radius: var(--border-radius) / 2;
	--diagonal-inner: calc(var(--diagonal-radius) + var(--border-width));
	--diagonal-inner-mask: transparent var(--diagonal-inner), black 0 100%;
	--diagonal-inner-mask-width: calc(100% - var(--diagonal-inner) * 2);
	--diagonal-border:
		var(--border-color) calc(var(--diagonal-inner) - 1px), transparent 0 100%;

	--mask:
		linear-gradient(45deg, var(--diagonal-inner-mask)) 0% 0% /
			var(--diagonal-inner-mask-width) 100% no-repeat,
		linear-gradient(-45deg, var(--diagonal-inner-mask)) 100% 0% /
			var(--diagonal-inner-mask-width) 100% no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

.diagonal .content-border::after {
	content: '';
	position: absolute;
	inset: 0;
	background:
		linear-gradient(45deg, var(--diagonal-border)) 0% 0% /
			var(--diagonal-inner-mask-width) 100% no-repeat,
		linear-gradient(-45deg, var(--diagonal-border)) 100% 0% /
			var(--diagonal-inner-mask-width) 100% no-repeat;
}

.content-box {
	padding: 0.25em 0.5em;
	color: var(--message-color);
	background-color: var(--message-bg-color);
}

.diagonal .content-box {
	--diagonal-inner: calc(var(--border-width) * 2 - 1px);
	--diagonal-inner-mask: transparent var(--diagonal-inner), black 0 100%;
	--diagonal-inner-mask-width: calc(100% - var(--diagonal-inner) * 2);

	--mask:
		linear-gradient(45deg, var(--diagonal-inner-mask)) 0% 0% /
			var(--diagonal-inner-mask-width) 100% no-repeat,
		linear-gradient(-45deg, var(--diagonal-inner-mask)) 100% 0% /
			var(--diagonal-inner-mask-width) 100% no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

.rainbow-highlighted [data-type='highlighted'] .content-box,
.rainbow-power-up [data-type='power-up'] .content-box,
.rainbow-announcement [data-type='announcement'] .content-box,
.rainbow-cheer [data-type='cheer'] .content-box {
	color: black;
	font-weight: bolder;
	background: linear-gradient(
			-45deg,
			#ffadad,
			#ffd6a5,
			#fdffb6,
			#caffbf,
			#9bf6ff,
			#a0c4ff,
			#bdb2ff,
			#ffc6ff,
			#ffadad,
			#ffd6a5
		)
		100% 100% / 900% 900%;
	animation: move-background 5s infinite linear;
}

.content {
	/* for emote overflow */
	padding: 0.25em 0;

	/* all necessary for line clamp to work */
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--line-clamp);
	line-clamp: var(--line-clamp);
}

.user-box {
	padding: var(--border-width) calc(var(--border-width) * 2);
	color: var(--user-text-color);
	background-color: var(--border-color);
	display: flex;
}

.rounded .user-box {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.diagonal .user-box {
	padding-right: 1.5em;

	--mask: linear-gradient(-135deg, transparent 1em, black 0 100%);
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

.user {
	display: inline;
	font-weight: bolder;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.customize-user .user {
	font-family:
		var(--custom-username-font-name), 'Inter', Nunito, Helvetica, Arial,
		sans-serif;
	font-size: var(--username-font-size);
	font-weight: var(--username-font-weight);
}

.user::after {
	content: '';
	display: inline-block;
	width: var(--expander-width);
}

.name {
	display: inline;
	position: relative;
}

.badges {
	display: var(--badge-display);
}

.badges:empty {
	display: none;
}

.badge {
	--size: calc(1em * var(--badge-size));
	height: var(--size);
	width: var(--size);
	min-height: min(var(--size), 72px);
	min-width: min(var(--size), 72px);
	max-height: 72px;
	max-width: 72px;
	margin-right: 3px;
	display: inline;
	vertical-align: text-top;
}

.pronouns {
	display: var(--pronoun-display);
	text-transform: var(--pronoun-transform);
}

.pronouns:empty {
	display: none;
}

.text,
.emote,
.mention,
.cheer-amount {
	display: inline;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.mention {
	font-weight: bolder;
}

.cheer-amount {
	font-weight: bolder;
	margin-left: 0.25em;
	border-radius: 4px;
	color: white;
	padding: 2px 4px;
	outline-offset: -1px;
	background-color: var(--cheer-color, black);
	text-shadow: 0 1px #0004;
}

.emote {
	height: 2em;
	max-height: 112px;
	vertical-align: middle;
	margin-top: -0.25em;
	margin-bottom: -0.2em;
}

#widget:not(.use-static-emotes) .emote.static {
	display: none !important;
}

#widget.use-static-emotes .emote.animated {
	display: none !important;
}

.use-dynamic-emote-sizing .emote-multi .emote {
	height: calc(2em * var(--multi-emote-size));
}

.use-dynamic-emote-sizing.arrangement_horizontal .emote-multi .emote {
	vertical-align: top;
}

.use-dynamic-emote-sizing .emote-single .emote,
.use-dynamic-emote-sizing .emote-gigantic .emote:nth-last-child(2),
.use-dynamic-emote-sizing .emote-gigantic .emote:last-child {
	height: calc(2em * var(--single-emote-size));
	display: block;
	margin: 0;
	margin-top: 0.25em;
}

/***********************
 * Animation Keyframes *
 ***********************/

/* fade in/out */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}

/* slide in */

@keyframes move-from-left {
	from {
		transform: translateX(-100%);
	}
}

@keyframes move-from-right {
	from {
		transform: translateX(100%);
	}
}

@keyframes move-from-top {
	from {
		transform: translateY(-200%);
	}
}

@keyframes move-from-bottom {
	from {
		transform: translateY(200%);
	}
}

/* slide out */

@keyframes move-to-left {
	to {
		transform: translateX(-100%);
		display: none;
	}
}

@keyframes move-to-right {
	to {
		transform: translateX(100%);
		display: none;
	}
}

@keyframes move-to-top {
	to {
		transform: translateY(-200%);
		display: none;
	}
}

@keyframes move-to-bottom {
	to {
		transform: translateY(200%);
		display: none;
	}
}

/* zoom in/out */

@keyframes zoom-in {
	from {
		transform: translate(0) scale(0);
	}
}

@keyframes zoom-out {
	to {
		transform: translate(0) scale(0);
		display: none;
	}
}

/* zoom slide in */

@keyframes zoom-from-left {
	from {
		transform: translateX(-100%) scale(0);
	}
}

@keyframes zoom-from-right {
	from {
		transform: translateX(100%) scale(0);
	}
}

@keyframes zoom-from-top {
	from {
		transform: translateY(-200%) scale(0);
	}
}

@keyframes zoom-from-bottom {
	from {
		transform: translateY(200%) scale(0);
	}
}

/* zoom slide out */

@keyframes zoom-to-left {
	to {
		transform: translateX(-100%) scale(0);
		display: none;
	}
}

@keyframes zoom-to-right {
	to {
		transform: translateX(100%) scale(0);
		display: none;
	}
}

@keyframes zoom-to-top {
	to {
		transform: translateY(-200%) scale(0);
		display: none;
	}
}

@keyframes zoom-to-bottom {
	to {
		transform: translateY(200%) scale(0);
		display: none;
	}
}

@property --expander-width {
	syntax: '<length>';
	inherits: true;
	initial-value: 0px;
}

/* overexpand in */

@keyframes overexpand-in {
	from {
		--line-clamp: 1;
		--expander-width: 0px;
		max-height: 0;
		max-width: 0;
	}
	50% {
		--expander-width: calc(var(--message-width));
		max-width: min(calc(var(--message-width) * 2), var(--max-width));
	}
	to {
		--expander-width: 0px;
		max-height: var(--message-height);
		max-width: min(var(--message-width), var(--max-width));
	}
}

/* smooth max height/width */

@property --line-clamp {
	syntax: '<integer>';
	inherits: true;
}

/**
 * Starting max of 0.1px (or anything higher than 0) instead of 0 is IMPORTANT
 * Otherwise with some font settings, messages won't appear in OBS
 * Works fine in a regular browser though, just OBS where they don't render
 * I have no idea why this fixes it, or why 0 breaks it
 */

@keyframes smooth-y {
	from {
		--line-clamp: 1;
		max-height: 0.1px;
	}

	to {
		max-height: var(--message-height);
	}
}

@keyframes smooth-x {
	from {
		--line-clamp: 1;
		max-width: 0.1px;
	}

	to {
		max-width: min(var(--message-width), var(--max-width));
	}
}

/* gradient animation */

@keyframes move-background {
	from {
		background-position: 100% 100%;
	}
	to {
		background-position: 0 0;
	}
}
